<div class="popup-content" >
    <div class="close-button" (click)="closePopup()" >X</div>
    
     
    <div class="popup-header">
        <div>
         {{popupTitle ? popupTitle : 'Popup'}} 
        </div>
    </div>
    <div class="popup-body">
        <div class="popup-info">  {{popupInfo ? popupInfo : 'Confirm choice?'}}</div>
        <div class="popup-buttons-container">
            <div class="upwork-btn-primary" (click)="btnPrimaryFunction ? btnPrimaryFunction() : false">{{btnPrimaryText ? btnPrimaryText : 'Accept'}}</div>
            <div class="upwork-btn-secondary"   (click) ="btnSecondaryFunction ? btnSecondaryFunction() : closePopup()" >{{btnSecondaryText ? btnSecondaryText : 'Decline'}}</div>
        </div>
    </div>
    <input class="upwork-input" type="text">

</div>
