<div class="popup-content" >
    <div class="close-button" (click)="closePopup()" ><img src="assets/svg/x-symbol.svg"/></div>
    <div class="popup-header">
        <div>
         {{data.popupTitle ? data.popupTitle : 'Popup'}} 
        </div>
    </div>
    <div class="popup-body">
        <div class="popup-info">  {{data.popupInfo ? data.popupInfo : 'Confirm choice?'}}</div>
        <div class="popup-buttons-container">
            <div class="upwork-btn-primary" (click)="btnPrimaryFunction ? btnPrimaryFunction() : false">{{data.btnPrimaryText ? data.btnPrimaryText : 'Accept'}}</div>
            <div class="upwork-btn-secondary"   (click) ="btnSecondaryFunction ? btnSecondaryFunction() : closePopup()" >{{data.btnSecondaryText ? data.btnSecondaryText : 'Decline'}}</div>
        </div>
    </div>
    

</div>
