.button-space {
  margin: 10px 0;
}

.upwork-default-content-container {
  min-width: 500px;
}

.form-group {
  display: flex;
  flex-direction: column;
  padding:5px;
}

@media screen and (max-width: 1024px) {

  .upwork-default-content-container {
      min-width: 90%;
  }
  
}