$dark-blue: #3b4a84;
$light-blue: #92a7ff;
$light-orange: #f8c48c;
$dark-beige: #a39999;
$light-beige: #c2bdb7;
$white: #ffffff;
$dark-white: #fbfbfc;
$black: #000000;
$light-grey: #cccccc;
$red: red;
$green: green;
