<mat-dialog-content class="upwork-default-container">
  <div class="upwork-default-content-container">
    <div class="close-button" (click)="closePopup()">
      <mat-icon>close</mat-icon>
    </div>
    <div class="upwork-default-content-heading">
      {{ data.title }}
    </div>
    <div class="upwork-default-content-data">
      <div class="popup-inputs-container">
        <span>{{ data.description }}</span>
        <ng-container
          *ngFor="let input of getDict(data.inputs); trackBy: trackByFn">
          <input
            type="text"
            class="upwork-input"
            [placeholder]="input[1].placeholder ?? ''"
            [(ngModel)]="input[1].value" />
        </ng-container>
      </div>
      <div class="popup-buttons-container">
        <div
          *ngFor="let button of data.buttons"
          class="upwork-btn upwork-btn-primary"
          [class]="
            button.type === primary
              ? 'upwork-btn upwork-btn-primary'
              : 'upwork-btn upwork-btn-secondary'
          "
          (click)="btnClick(button)">
          {{ button.text }}
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
