<mat-dialog-content class="upwork-default-container">
  <div class="upwork-default-content-container">
    <div class="upwork-popup-close-button" (click)="closePopup()">
      <mat-icon>close</mat-icon>
    </div>
    <div class="upwork-default-content-heading">
      {{ data.name }}{{ 'admin-panel.popup.popup-header' | translate }}
    </div>
    <div class="upwork-default-content-data" style="color: black">
      <div class="d-flex justify-content-end p-0">
        <button
          class="upwork-btn upwork-btn-primary"
          (click)="openCreateUserPopup()">
          {{ 'admin-panel.popup.add-owner-button' | translate }}
        </button>
      </div>
      <app-shared-table
        [caption]="'List of organizations\' owners'"
        [headers]="header"
        [data]="(listOfOwners$ | async) ?? []"
        [currentPage]="(currentPage$ | async) ?? 1"
        [totalNumberOfPages]="totalNumberOfPages"
        (nextPageEvent)="setPage($event)"
        (prevPageEvent)="setPage($event)"></app-shared-table>
    </div>
  </div>
</mat-dialog-content>
