<div class="upwork-default-container">
  <div class="upwork-default-content-container">
    <div class="upwork-default-content-heading">
      {{ 'time-off.header' | translate }}
    </div>
    <div class="upwork-default-content-data">
      <div class="d-flex justify-content-around">
        <h2>
          {{ absencesYearCount$ | async }}
          {{ 'time-off.year-days-counter' | translate }}
        </h2>
        <button
          class="upwork-btn upwork-btn-primary"
          (click)="openNewRequestPopup()">
          {{ 'time-off.new-request-button' | translate }}
        </button>
      </div>
      <app-shared-table
        [caption]="'List of your Time off requests'"
        [headers]="header"
        [data]="(listOfUserRequests$ | async) ?? []"
        [currentPage]="(currentPage$ | async) ?? 1"
        [totalNumberOfPages]="totalNumberOfPages"
        (nextPageEvent)="setPage($event)"
        (prevPageEvent)="setPage($event)">
      </app-shared-table>
    </div>
  </div>
</div>
