.page-not-found-header img{
    width:300px;
}

.page-not-found-container{
    height: 100%;
    flex-direction: column;
}
.page-not-found-container > div{
    height: fit-content;
}

.page-not-found-body, .error-number, .error-meaning, .error-description, .page-not-found-container, .page-not-found-header{
    display: flex;
    justify-content: center;
}
.error-number{
    font-size: 90px;
    line-height: 1.2em;
    margin-top: 20px;
    font-weight: bold;
}
.error-meaning{
    font-size: 50px;
    line-height: 1.2em;
}

.error-description{
    margin-top: 20px;
    flex-direction: column;
    text-align: center;
}
.error-description *{
    font-size: 20px;
}
@media (max-width: 768px) {
    .error-description {
      margin-top: 10px;
    }
    
    .error-description * {
      font-size: 16px;
    }
}