<div class="page-not-found-container">
  <div>
    <div class="page-not-found-header">
      <img [src]="svgPath" alt="SVG Image" />
    </div>
    <div class="page-not-found-body">
      <div>
        <div class="error-number">404</div>
        <div class="error-meaning">Page not found</div>
        <div class="error-description">
          <p>
            The page you are looking for doesn't exist or a different error
            occured.
          </p>
          <p>
            Go back or head over to&nbsp;<a routerLink="/">main page</a>&nbsp;to
            choose a new direction&period;
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
