<div class="page-not-found-container">
  <div>
    <div class="page-not-found-header">
      <img [src]="svgPath" alt="SVG Image" />
    </div>
    <div class="page-not-found-body">
      <div>
        <div class="error-number">404</div>
        <div class="error-meaning">
          {{ 'page-not-found.meaning' | translate }}
        </div>
        <div class="error-description">
          <p>
            {{ 'page-not-found.description' | translate }}
          </p>
          <p>
            {{ 'page-not-found.before-link-text' | translate }}&nbsp;<a
              routerLink="/"
              >{{ 'page-not-found.link' | translate }}</a
            >&nbsp; {{ 'page-not-found.after-link-text' | translate }}&period;
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
