<div class="upwork-default-container">
  <div class="upwork-default-content-container">
    <div class="upwork-default-content-heading">Time off</div>
    <div class="upwork-default-content-data">
      <div class="d-flex justify-content-around">
        <h2>{{ time_off_days }} days of time off left you</h2>
        <button
          class="upwork-btn upwork-btn-primary"
          (click)="openNewRequestPopup()">
          New request
        </button>
      </div>
      <div class="upwork-table-wrapper mt-2">
        <table class="upwork-table">
          <caption>
            List of all Organizations
          </caption>
          <thead class="upwork-table-header">
            <tr>
              <th>No.</th>
              <th>Organization's Name</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody class="upwork-table-body"></tbody>
        </table>
        <div class="upwork-table-foot">
          <mat-icon class="upwork-icon">chevron_left</mat-icon>
          <mat-icon class="upwork-icon">chevron_right</mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>
