@import '../../../../_variables.scss';

.navigation-container {
  height: 100%;
  width: 100%;
  display: flex;
}

.custom-navbar {
  overflow-y: auto;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.custom-navbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.content-container {
  width: 100%;
  min-width: 350px;
  overflow-y: auto;
  background-color: $light-blue;
}

.upwork-nav-brand {
  margin: 0 15px;
}

.navbar .container-fluid,
.navbar,
.navbar-expand-lg .navbar-collapse,
.navbar-expand-lg .navbar-nav {
  flex-direction: column;
  align-items: flex-end;
  justify-content: start;
  flex-wrap: nowrap;
  background-color: $white;
  color: $dark-blue;
}

.navbar-light .navbar-nav .nav-link {
  color: $dark-blue;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
}

.navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
}

.navbar {
  width: 250px;
  height: 100%;
}

.nav-items-container {
  width: 100%;
}

.nav-item-div {
  list-style-type: none;
  padding: 0;
  width: 90%;
  margin: 5px 0;
}

.nav-item {
  width: 100%;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}

.nav-link > mat-icon {
  margin-right: 20px;
  z-index: 10;
}

//roundings
li.active {
  background: $light-blue;
  position: relative;
}

li.active::before {
  content: '';
  position: absolute;

  background-color: transparent;
  top: -36px;
  right: 0;
  height: 36px;
  width: 18px;
  border-bottom-right-radius: 18px;
  box-shadow: 0 18px 0 0 $light-blue;
}

li.active::after {
  content: '';
  position: absolute;

  background-color: transparent;
  bottom: -36px;
  right: 0;
  height: 36px;
  width: 18px;
  border-top-right-radius: 18px;
  box-shadow: 0 -18px 0 0 $light-blue;
}

.nav-ng-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.logout-container {
  margin-bottom: 7px;
}

@media screen and (max-width: 768px) {
  .nav-text-link {
    display: none;
  }

  .nav-link > mat-icon {
    margin-right: 0;
    min-width: 24px;
  }

  .navbar {
    width: 60px;
    padding-top: 30px;
  }

  .upwork-nav-brand {
    display: none;
  }
}
