<div class="upwork-default-container">
  <div class="upwork-default-content-container">
    <div class="upwork-default-content-heading">
      {{ 'organization-control.info' | translate }}
    </div>
    <div class="upwork-default-content-data" *ngIf="organization">
      <div class="upwork-content">
        <h2>{{ 'organization-control.name' | translate }}</h2>
        <p>{{ organization.name }}</p>
      </div>
      <div class="upwork-content">
        <h2>{{ 'organization-control.url-name' | translate }}</h2>
        <p>{{ organization.urlName }}</p>
      </div>
    </div>
  </div>
  <div class="upwork-default-content-container">
    <div class="upwork-default-content-heading">
      {{ 'organization-control.users-header' | translate }}
    </div>
    <div class="upwork-default-content-data">
      <div class="d-flex justify-content-end p-0">
        <button
          class="upwork-btn upwork-btn-primary"
          (click)="openAddUserPopup()">
          {{ 'organization-control.add-user-button' | translate }}
        </button>
      </div>
      <app-shared-table
        [caption]="'List of all users'"
        [headers]="header"
        [data]="(listOfUsers$ | async) ?? []"
        [currentPage]="(currentPage$ | async) ?? 1"
        [totalNumberOfPages]="totalNumberOfPages"
        (nextPageEvent)="setPage($event)"
        (prevPageEvent)="setPage($event)"></app-shared-table>
    </div>
  </div>
  <app-permissions-control
    class="upwork-default-content-container upwork-default-content-container-permissions"></app-permissions-control>
</div>
