button {
    background: #F8C48C;
    height: 55px; 
  }

  .upwork-default-content-data {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
  }

.upwork-default-content-container-permissions {
  min-width: fit-content;
}