<div class="upwork-default-container">
  <div class="upwork-default-content-container">
    <div class="upwork-default-content-heading">Choose an option:</div>
    <div class="upwork-default-content-data">

    <p>buttony były</p>
    </div>
  </div>
    <div class="upwork-default-content-container">
    <div class="upwork-default-content-heading">Organization Admin Panel</div>
    <div class="upwork-default-content-data">
      <div class="d-flex justify-content-end p-0">
        <button
          class="upwork-btn upwork-btn-primary"
          (click)="openAddUserPopup()"> 
          Add User
        </button>
      </div>
      <app-shared-table
        [caption]="'List of all users'"
        [headers]="header"
        [data]="(listOfUsers$ | async) ?? []"
        [currentPage]="(currentPage$ | async) ?? 1"
        [totalNumberOfPages]="totalNumberOfPages"
        (nextPageEvent)="setPage($event)"
        (prevPageEvent)="setPage($event)"></app-shared-table>
    </div>
  </div>
</div>
