<div class="upwork-default-container">
  <div class="upwork-default-content-container">
    <div class="upwork-default-content-heading">Choose an option:</div>
    <div class="upwork-default-content-data">
      <button class="upwork-btn" (click)="openAddUserPopup()">Add User</button>
      <button class="upwork-btn" (click)="openDeleteUserPopup()">Delete User</button>
      <button class="upwork-btn" (click)="openBlockUserPopup()">Block User</button>
      <button class="upwork-btn" (click)="openResetPasswordPopup()">Reset User's Password</button>
      <button class="upwork-btn" (click)="openGrantPermissionsPopup()">Grant Permissions</button>
      <button class="upwork-btn" (click)="openSetSupervisorPopup()">Set Supervisor</button>
      <button class="upwork-btn" (click)="openOrganizationSettingsPopup()">Organization Settings</button>
    </div>
  </div>
</div>