<mat-dialog-content class="upwork-default-container">
  <div class="upwork-default-content-container">
    <div class="upwork-popup-close-button" (click)="closePopup()">
      <mat-icon>close</mat-icon>
    </div>
    <div class="upwork-default-content-heading">
      {{ data.title }}
    </div>
    <div class="upwork-default-content-data">
      <div class="upwork-popup-inputs-container">
        <span>{{ data.description }}</span>
        <ng-container
          *ngFor="let input of getDict(data.inputs); trackBy: trackByFn">
          <ng-container [ngSwitch]="input[1].type">
            <mat-form-field
              *ngSwitchCase="'date'"
              appearance="fill"
              class="upwork-date-input">
              <mat-label>{{ input[1].placeholder ?? '' }}</mat-label>
              <input
                matInput
                [(ngModel)]="input[1].value"
                [matDatepicker]="picker"
                placeholder="DD/MM/YYYY" />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field
              *ngSwitchCase="'select'"
              class="upwork-select-input">
              <mat-label>{{ input[1].placeholder ?? '' }}</mat-label>
              <mat-select [(ngModel)]="input[1].value">
                <mat-option
                  *ngFor="let option of input[1].selectOptions"
                  [value]="option.value">
                  {{ option.displayValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </ng-container>
        </ng-container>
      </div>
      <div class="upwork-popup-buttons-container">
        <div
          *ngFor="let button of data.buttons"
          class="upwork-btn upwork-btn-primary"
          [class]="
            button.type === primary
              ? 'upwork-btn upwork-btn-primary'
              : 'upwork-btn upwork-btn-secondary'
          "
          (click)="btnClick(button)">
          {{ button.text }}
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
